*{
    margin:0 ;
    box-sizing: border-box;
    letter-spacing: 0.5px;
}

body{
    font-family: 'Nunito', sans-serif;
}

.section2{
    margin-top: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-direction: column;
    padding: 20px;
}

.section2 h2{
    font-weight: bolder;
    width: 50%;
    border-radius: 10px;
    background-color: #0066FF;
    padding: 10px 40px;
    color: #ffffff;
    text-align: center;
}