p{
    font-size: 30px;
    color: red;
    transition: all 0.5s;
    width: 400px;
    text-align: center;
    transform: rotate(360deg);
    transform-origin: center;
    background-color: aqua;
  }
  